*{
    font-family:monospace;
    font-size:x-large;
    color: whitesmoke;
    padding:0;
    margin:0;
}
body{
    background-color: rgb(40,44,51);    
    /* background-color: linear-gradient(90deg,rgb(40,44,51), #c470db); */
    padding-top:0px;
    margin-top:0px;
    
}

header{
    position:fixed;
    top:0px;
    left:1vw;   
}
#logo{
    height: 1em;
    width: 1em;
}
.media-container{
    display:flex;
    justify-content:center;
    align-content: center;
    align-items : center;
    position:absolute;
    top: 0;
    left:0;
    width: 4%;
    /* right: 0; */
    height: 50vh;
    z-index: auto;

    /* opacity: 0.2;  */
    /* z-index: -1; */
    /* left:10px; */

}


.media-header-line{

    width: 1px;
    height: 40vh;
    top:0px;
    background-color: white;
    justify-self: center;
    align-self: top;
    
}

.side-media-bar-list{
    list-style-type: none;
    padding-left: 1vw;

}

.navbar{
    /* z-index:0; */
    position: fixed;   
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    justify-items: flex-end;
    align-items: center;
    background-color: cyan;
    background: none;   
}

.name{
    font-size: 1.5rem;
    position:absolute; 
    color:white;
    left: 10vw;
    top:5vh;
    display: flex;
    align-items: center;
    font-weight: 800;

    justify-self: end;  
    align-self: end;
}

.header_links{
    height: auto;
    width: 30%;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-content: end;
    align-self: end;
    position: absolute;
    top:5vh;
    right:4vw;
}

.header_links div{
    display: flex;
    justify-content:space-around;
    margin-left: 1%;
    margin-right: 1%;
}

.hash_purple{
    color: rgb(196,112,219);
}

.header_links_content{
    font-size: 1.18rem;
}


.dropdown select{
    background-color: transparent;
    border: none;
    color:whitesmoke;
    font-size: 1.18rem;
}


.hero-section-container{
    display: flex;
    position: relative;
    top:26vh;
    left: 13vw;
}
.hero-content{


    width: 40%;
    
}
.hero-content h1{
    font-size: 30px;
}


.hero-content span{
    color: #c470db;
    font-size: 30px;
}


.hero-description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    color: #abb2bf;
}


.hero-image{ 
    border-bottom: 1px solid #c470db;
    position:relative;
    left:5vw;
    bottom:10vh;
    /* top:5vh; */

    box-sizing: border-box;
}


.contact-button{
    background-color: transparent;
    border-color: #c470db;
    position: static;  
    margin-top: 20px;
}

.hero-added{
    /* background-color:#5b2f6b; */
    background-color:linear-gradient(90deg, #abb2bf, #c470db);
    margin-top: 23vh;  
    height: auto;
    height: 10000px;
    display: grid; 
}

.hero-quote{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    background-color: none;
    /* background-color: blue; */
    border:2px solid #abb2bf8c;
    border-radius: 10px;
    
    margin-top: 9vh;  
    margin-left: 20vw;
    height:13vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
